
.icon-sunrise:before { content: '\e800'; } /* '' */
.icon-temperature:before { content: '\e801'; } /* '' */
.icon-sun:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-wind:before { content: '\e804'; } /* '' */
.icon-droplet:before { content: '\e805'; } /* '' */
.icon-down-small:before { content: '\e806'; } /* '' */
.icon-up-small:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-water:before { content: '\e809'; } /* '' */
